@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,700;1,200;1,400;1,600&display=swap');


nav {
    background-color: whitesmoke;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px gray;
    font-family: 'Bebas Neue';
}

.NavLink {
    padding: 0px 20px;
    text-decoration: none;
    font-size: 1.5rem;
    color: black
}

.active {
    position: relative;
    animation: up-down 0.25s ease-in forwards;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: whitesmoke;
    box-shadow: 0px 0px 10px gray;
}

@keyframes up-down {
    0% {
        top: 0px;
    }
    25% {
        top: 2.5px;
    }
    50% {
        top: 5px;
    }
    75% {
        top: 7.5px;
    }
    100% {
        top: 10px;
    }
}